
@if(TempData["sucesso"] != null)
{
    <div class="alert alert-success">
        @TempData["sucesso"]
    </div>
}


<img src="/imagens/img1.png" />
<form asp-action="Index" method="post">
    <div class="mb-3">
        <label for="login" class="form-label">email</label>
        <input type="text" class="form-control" name="login" id="login">
       
    </div>
    <div class="mb-3" >
        <label for="senha" class="form-label">senha</label>
        <input type="password" class="form-control" name="senha" id="login">
      
        
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-block">entrar</button>
</form>